html {
  background: #272042;
}

.left-arrow {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 25px solid white;
  position: absolute;
  right: 89px;
  top: 60%;
  transform: translateY(-50%);
}

.left-arrow::before {
  content: '';
  position: absolute;
  width: calc(100vw + 20px);
  height: 1px;
  background: repeating-linear-gradient(to right, #C3C2CA, #C3C2CA 20px, transparent 20px, transparent 40px);
  right: 0;
  border-radius: 1px;
}

.left-rectangle {
  width: 79px;
  height: 40px;
  background-color: white;
  position: absolute;
  right: 0px;
  top: 60%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 10px;
  color: #272042;
  font-weight: bold;
  font-family: 'Inter', sans-serif; /* Specify the Inter font family */

  padding-right: 10px;
}

.circular-timer {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

#circular-white {
  left: 40%;
}

#circular-red {
  left: 62%;
}
.flag-icon{
  position: absolute;
  height: 100vh;
  left: 59%; 
  top: 33%; 
  transform: translate(-50%, -50%);
  padding: 10px;
}

#flag-red {
  color: #DD4830;
}

#flag-white {
  color: white;
}


#circular-white::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 100vh; 
  background: repeating-linear-gradient(to top, #C3C2CA, #C3C2CA 2px, transparent 10px, transparent 20px);
  top: 0;
  right: 50%;
  transform: translateY(-50%); 
  border-radius: 1px;
  z-index: -1; 
}

#circular-red::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 100vh; 
  background: #DD4830; 
  top: 0; 
  right: 50%;
  transform: translateY(-50%); 
  border-radius: 1px;
  z-index: -1; 
}

.range-rectangle {
  position: absolute;
  width: 79px;
  height: 40px;
  background-color: #272042;
  right: 0;
  top: 60%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  color: #5E6676;
  font-weight: bold;
  font-family: 'Inter', sans-serif; /* Specify the Inter font family */
  z-index: 1; /* Increase z-index to place it above the line */
}

.range-rectangle::before {
  content: '';
  position: absolute;
  width: calc(100vw + 20px);
  height: 2px;
  background: #2D3542; 
  right: 0;
  border-radius: 1px;
  z-index: 0; /* Lower z-index to place it below the black background */
}
